<%- include('../partials/header.ejs');%>

<style>
    /* Estilos personalizados */
    .details-container {
        background-color: #f9f9f9;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        color: #333;
        max-width: 800px;
        margin: 50px auto;
        text-align: center;
        position: relative; /* Adicionamos posição relativa para facilitar posicionamento */
    }

    .sale-details {
        background-color: #ffffff; /* Fundo branco para os detalhes de venda */
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        text-align: left;
    }

    .sale-details h2 {
        color: #333;
        margin-bottom: 20px;
        border-bottom: 2px solid #ddd;
        padding-bottom: 10px;
        text-align: center;
    }

    .sale-details p {
        margin: 15px 0;
        color: #555;
        font-size: 18px; /* Aumentamos o tamanho da fonte */
    }

    .sale-details ul {
        list-style: none;
        padding-left: 0;
        margin-top: 15px;
    }

    .sale-details ul li {
        color: #333;
        font-size: 16px; /* Aumentamos o tamanho da fonte */
    }

    .print-button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 15px 30px;
        border-radius: 30px;
        cursor: pointer;
        font-size: 20px; /* Aumentamos o tamanho da fonte */
        transition: background-color 0.3s ease, transform 0.3s ease; /* Adicionamos transição para o efeito de escala */
        display: inline-block;
        margin-top: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .print-button i {
        margin-right: 10px;
        font-size: 24px;
        transition: transform 0.3s ease; /* Adicionamos transição para o efeito de rotação */
    }

    .print-button:hover {
        background-color: #45a049;
        transform: scale(1.05); /* Aumentamos ligeiramente o tamanho ao passar o mouse */
    }

    .print-button:hover i {
        transform: rotate(90deg); /* Giramos o ícone ao passar o mouse */
    }

    hr {
        border: none;
        height: 1px;
        background-color: #ddd;
        margin: 30px 0;
    }

    h1 {
        color: #333;
        margin-bottom: 20px;
    }

    p {
        color: #666;
    }

    .subtle-bg {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 15px;
        margin-top: 30px;
    }

    .subtle-bg p {
        color: #777;
    }

     /* Animação suave para o subtítulo */
     .subtle-bg p {
        animation: fadeInUp 1s ease forwards;
        opacity: 0;
        transform: translateY(20px);
    }

    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Estilizando a imagem */
    .header-image {
        display: block;
        margin: 0 auto 20px; /* Centraliza a imagem e adiciona margem abaixo */
        max-width: 200px; /* Defina a largura máxima conforme necessário */
        border-radius: 50%; /* Tornamos a imagem circular */
    }

    /* Estilizando o botão de voltar */
   .back-button {
        background-color: #3498db; /* Cor de fundo azul */
        color: white; /* Cor do texto */
        border: none; /* Removendo a borda */
        padding: 15px 30px; /* Adicionando preenchimento */
        border-radius: 30px; /* Arredondando as bordas */
        font-size: 18px; /* Tamanho da fonte */
        cursor: pointer; /* Alterando o cursor ao passar por cima */
        position: fixed; /* Posicionando fixo na página */
        top: 160px; /* Distância do topo */
        left: 290px; /* Distância da esquerda */
        z-index: 9999; /* Garantindo que esteja acima de outros elementos */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
        transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave */
    }

    .back-button:hover {
        background-color: #2980b9; /* Mudança de cor ao passar o mouse */
        transform: scale(1.05); /* Aumenta ligeiramente ao passar o mouse */
    }
    .back-button i {
        margin-right: 10px; /* Espaço à direita do ícone */
    }
</style>
<body>
    <div class="details-container">
        <a href="/admin/client/list" class="back-button"><i class="fas fa-arrow-left"></i>Voltar</a>
        <h1>Fatura Recibo</h1>
        <hr>
        <% if (cliente === 0) { %>
            <p>Nenhuma venda encontrada para o período selecionado.</p>
        <% } else { %>
            <div class="sale-details">
                <img src="/img/15A.jpg" alt="Descrição da Imagem" class="header-image">
                <h2>Cliente Número <%= cliente.id %> </h2>
                <p class="fatura">Fatura Recibo</p>
                <div class="up">
                    <p><strong>Nome:</strong> <%= cliente.nome %> </p>
                    <p><strong>NIF:</strong> <%= cliente.BI %> </p>
                    <p><strong>Data de Agendamento:</strong> <%= new Date(cliente.data).toLocaleDateString('pt-AO') %></p>
                    <p><strong>Bairro:</strong> <%= cliente.bairro %></p>
                    <p><strong>Rua:</strong> <%= cliente.rua %></p>
                    <p><strong>Serviço Agendado:</strong> <%= cliente.procedimento %></p>
                    <p><strong>Forma que pagou:</strong> <%= cliente.pagamento %></p>
                    <p><strong>Preço do Serviço Agendado:</strong> <%= custo %></p>
                </div>
                <hr>
                <p><strong>Atendente:</strong><%= atendente %></p>
                <div class="subtle-bg">
                    <p>© 2024 Spaz Beauty-concept. Endereço do nosso salão: Rua Gonsalves Ramos n.3 código postal 2700-343 R/C. Telef. +351 938 773 444.</p>
                </div>
            </div>
        <% } %>
        <button class="print-button" onclick="registrarVendaECompartilhar('<%= cliente.id %>')">
            <i class="fas fa-share-alt"></i>


        </i>Validar</button>
    </div>


    <script>
        async function registrarVendaECompartilhar(clienteId) {
            try {
                // Registrar a venda e obter os dados do cliente
                const response = await fetch('/admin/register/sell', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ clienteId: clienteId })
                });
    
                if (!response.ok) {
                    throw new Error('Erro ao registrar a venda');
                }
    
                // Recebe os dados do cliente e o custo
                const { cliente, custo } = await response.json();
    
                // Verifica se os dados foram recebidos corretamente
                if (!cliente) {
                    throw new Error('Dados do cliente estão incompletos');
                }
    
                // Formata a mensagem para o WhatsApp
                const mensagem = `*Fatura Recibo da SpazBeuty*\n\n` +
                    `*Nome:* ${cliente.nome}\n` +
                    `*NIF:* ${cliente.BI}\n` +
                    `*Data de Agendamento:* ${new Date(cliente.data).toLocaleDateString('pt-AO')}\n` +
                    `*Bairro:* ${cliente.bairro}\n` +
                    `*Rua:* ${cliente.rua}\n` +
                    `*Serviço Agendado:* ${cliente.procedimento}\n` +
                    `*Forma de Pagamento:* ${cliente.pagamento}\n` +
                    `*Custo do Serviço Agendado:* ${custo} Kz`;
    
                // Codifica a mensagem para URL
                const mensagemEncoded = encodeURIComponent(mensagem);
                const whatsappUrl = `https://wa.me/?text=${mensagemEncoded}`;
    
                // Abre o WhatsApp com a mensagem
                window.open(whatsappUrl, '_blank');
            } catch (error) {
                console.error(error);
            }
        }
    </script>
    

    <%- include('../partials/modalProcedimento.ejs');%>
    <%- include('../partials/footer.ejs');%>

    